body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.tour-guide {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tg-dialog,
.tg-arrow {
  background-color: FFF0E4;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)) !important;
}

.tg-bar {
  background-image: linear-gradient(
    120deg,
    #a1c4fd 0%,
    #c2e9fb 100%
  ) !important;
}

* {
  font-family: "M PLUS Rounded 1c";
}
